.page {
  &-title {
    margin-block-end: 2rem;
    margin-block-start: 2rem;
    font-weight: 400;
  }

  // ----------
  //  About
  // ----------

  &__about {
    & a {
      color: currentColor;

      &:focus,
      &:hover {
        color: var(--green);
      }
    }

    & p {
      max-width: 35em;
      line-height: var(--ld1);
      margin-block-end: 3em;
      margin-block-start: 3em;
    }
  }
}
