.post {
  &-animation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;

    @media (min-width: 1200px) {
      position: absolute;
      top: 8rem;
      left: 2rem;
      width: 16rem;
    }
  }

  &-body {
    @media (min-width: 600px) {
      font-size: var(--u1);
    }

    ul li {
      position: relative;
      list-style: none;

      &::before {
        position: absolute;
        top: 0.25em;
        right: 100%;
        margin-right: 0.75em;
        font-size: var(--d2);
        line-height: inherit;
        content: "▶︎";
        pointer-events: none;
      }
    }
  }

  &-description {
    max-width: 28em;
    font-size: var(--u2);
    font-style: italic;
    line-height: 1.4;
    margin-block-end: 0;
    margin-block-start: 0;
  }

  &-header {
    box-sizing: border-box;
  }

  &-meta {
    display: grid;
    grid-gap: 0.5rem 1rem;
    grid-template-columns: min-content auto;
    align-items: center;

    &-value {
      margin: 0;
    }
  }

  &-title {
    margin-top: 0;
  }

  &-yt {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

/* highlight.js */

.hljs-comment {
  opacity: 0.625;
}
