{% extends 'layout.html' %}
{% block content %}
  <div class="wrapper">
    <div itemScope itemType="http://schema.org/Person">
      <img alt="Drew" class="img" height="1000" itemProp="photo" src="/assets/drewpowers.jpg" width="2000"/>
      <p>
        My name is
        <span itemProp="name">Drew Powers</span>. I’ve been building websites and spending way too much time online for over a decade. I’m passionate about using technology as an
          equalizer, both in my work and sharing what I know on this blog.
      </p>
      <p>
        Some things I believe (in no particular order):
      </p>
      <ol>
        <li>good ideas should be put into practice, even if they’re old, even if they’re unpopular</li>
        <li>intent doesn’t matter; impact does</li>
        <li>everyone is an expert at something if you start noticing</li>
        <li>understanding and making your intentions clear is the key to lasting relationships</li>
        <li>i can always change my mind with new information</li>
        <li>always be kind</li>
      </ol>
      <p>
        Have a question, or a suggestion for something you’d like me to write about? Shoot me an
        <a href="mailto:drew@pow.rs">email</a>
        or
        <a href="https://twitter.com/_drewpowers" rel="noopener noreferrer" target="_blank">tweet</a>.
      </p>
    </div>
  </div>
{% endblock content %}
