{% extends "index.html" %}
{% block content %}
  <div class="wrapper" itemscope itemtype="https://schema.org/Blog">
    {% for post in paginator.pages -%}
      <a class="postPreview" href="{{ post.path }}" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="postPreview-tag">
          {% for tag in post.taxonomies.tags -%}
            <span class="blog-tag blog-tag--{{ tag }}">{{ tag }}</span>
          {% endfor -%}
        </div>
        <span class="postPreview-title" itemprop="headline">{{ post.title }}</span>
        <time class="postPreview-date" datetime="{{ post.date }}" itemprop="datePublished">{{ post.date | date(format="%e %b %Y") }}</time>
        <div class="postPreview-summary" itemprop="description">{{ post.description }}</div>
      </a>
    {% endfor -%}
  </div>
  Num pagers: {{ paginator.number_pagers }} Page size: {{ paginator.paginate_by }} Current index: {{ paginator.current_index }} First: {{ paginator.first | safe }} Last: {{ paginator.last | safe }}
  {% if paginator.previous %}has_prev{% endif %}
  {% if paginator.next %}has_next{% endif %}
{% endblock content %}
